*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-content-art{
  width: 100%;
  height: auto;
  margin-top: 130px;
  padding: 0 1em;
}
/*//////////////////////////////////
/  ESTILOS DEL SELECTOR DE PAISES
//////////////////////////////////*/
section{
  margin-bottom: 2em; 
}
#sct-one-art{
  width: 100%;
  height: 40px;
}
.content-custom-select{
  float: right;
}
.custom-select {
  position: relative;
  font-family: Arial;
  width:200px;
  font-family: 'Bree Serif', serif; 
}
.custom-select select {
  display: none;
}
.select-selected {
  background-color: #FFA400;
  color: black;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
  }
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent black transparent;
    top: 7px;
  }
  .select-items div,.select-selected {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  .select-items {
    position: absolute;
    background-color: #FFA400;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
/*////////////////////////////////////
/  ESTILOS DE LA SECCION DE ARTISTAS
////////////////////////////////////*/
#sct-two-art{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.content-img-artists{
  width: 33.3%;
  text-align: center; 
  margin-bottom: 5em; 
  text-align: center;
  padding: 5px; 
}
.content-img-artists div:nth-child(2){
  padding-top: 2rem; 
}
.content-img-artists .img-art{
  width: 80%; 
  position: relative;
  left: 0;
  right: 0;
  margin: auto; 

}
.img-art .ver-mas{
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  color: black;
  transition: all 2s ease;
  display: none;
  
}
.content-img-artists .img-art img{
  width: 100%;
  border-radius: 50%;
  object-fit: cover; 
  box-shadow: 0 0 10px 4px rgba(26, 25, 25, 0.822);
}
.content-img-artists .img-art:hover .ver-mas{
  display: block;
  cursor: pointer;
}

.content-img-artists:hover .img-art img {
  opacity: .5;
}
.content-img-artists .ver-mas{
  font-size: 2em;
}
.content-img-artists h3{
  position: relative;
}
.content-img-artists h3:before{
  content: "";
  position: absolute;
  width: 80%;
	bottom: 0px;
	left:10%;
	margin-right: 10px;
	height: 2.5px;
	background-color: red;
}
/*////////////////////////////////////
/  ESTILOS DE LA SECCION DONDE SE MUESTRA 
/  INFORMACION DETALLADA DE LOS ARTISTAS
////////////////////////////////////*/
.content-data{
  display: flex;
  background: linear-gradient(45deg, #43291f 0%, rgba(255,164,0,1) 50%, #43291f 100%);

}
.content-data .content-data-description{
  width: 60%;
}
.content-data .content-data-img{
  width: 40%;
}
.content-data div{
  padding: 1.5em; 
}
.content-data .name-arts{
  text-align: center;
  font-size: 4em;
}
.content-data-description .description-arts{
  font-size: 1.3em;
}
.content-data-description .cv-arts{
  margin-top: 2rem;
}
.content-data-description .cv-arts a{
  color: white;
  text-decoration: none;
}
.content-data .content-data-img img{
  width: 80%;
  margin: auto;
  border-radius: 50%;
}
.content-data .content-data-img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0;
}
.content-data .content-data-img .pais-arts{
  font-size: 30px;
}

#sct-data-art .return-sct-two {
  text-align: right;
  padding-right: 10px;
}
#sct-data-art .return-sct-two .btn-return{
  text-decoration: none;
  color: black;
  font-size: 1.7em;
  padding: 4px;
}
#sct-data-art .return-sct-two .btn-return:hover{
  text-shadow: 5px 5px 5px grey;
}
#sct-data-art .return-sct-two .btn-return .fa-undo-alt{
  margin-left: 7px;
}
.gallery-data-art{
  position: relative;

}
.gallery-data-art h1{
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 1.5px solid;
  margin-bottom: 3rem;
}
.gallery-slider-art{
    width: 100%;
    height: 400px;
    position: relative;
    margin: auto;
    overflow: hidden;

}
.slider-content{
  position: relative;
  width: 200%;
  margin: auto;
  display: flex;
}
.slider_block{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  transition: 1s;
}
.slider_block--item{
  width: 24%;
}
.gallery-slider-art img{
  width: 100%;
  height: 100%;
  object-fit: cover;


}
.gallery-slider-art a{
  transition: .4s;
}
.gallery-slider-art a:hover{
  transform: scale(1.3);
}
#control_slider--left{
  position: absolute;
  top: calc(100% - 35px);
  left: calc(50% - 35px);
  z-index: 2;
  font-size: 1.8rem;
}
#control_slider--right{
  position: absolute;
  top: calc(100% - 35px);
  right: calc(50% - 35px);
  font-size: 1.8rem;
}
@media (min-width:768px) and (max-width:991px){
    .content-img-artists{
        width: 50%;
    }  
    .content-data {
      flex-direction: column-reverse;
      align-items: center;
      padding-top: 2rem;
    }
    .content-data .content-data-description {
      width: 100%;
    } 
    .content-data .content-data-img {
      width: 80%;
    }
    .content-data-description .description-arts {
      font-size: 1.7em;
    }
    .content-data-description .cv-arts a {
      font-size: 1.7rem;
    }
}
@media (max-width:767px){
    .content-img-artists{
        width: 100%;
    }
    .content-data {
      flex-direction: column-reverse;
      align-items: center;
      padding-top: 2rem;
    }
    .content-data div {
      padding: 1em;
  }
    .content-data .content-data-description {
      width: 100%;
    } 
    .content-data .content-data-img {
      width: 90%;
    }
    .content-data-description .description-arts {
      font-size: 1.3em;
    }
    .content-data-description .cv-arts a {
      font-size: 1.7rem;
    } 
    .content-data .name-arts {
      font-size: 3em;
    }
    .slider-content {
      flex-wrap: wrap;
    }
    .gallery-slider-art {
      height: 471px;
    }  
}
@media (min-width:1400px){
  .content-data .content-data-description p{
    font-size: 2rem;
  }
  .content-data .content-data-description h1{
    font-size: 5rem;
  }
  .gallery-data-art h1 {
    font-size: 5rem;
}
  
}