*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Bree Serif', serif;
}
/*////////////////////////////////
/  ESTILOS DEL MAIN - CATEGORIAS
////////////////////////////////*/
#main-content-ct{
    width: 100%;
    height: auto;
    margin-top: 130px;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}
section{
  margin-bottom: 3em;  
}
/*///////////////////////////////////
/  ESTILOS DE SECCION DE CATEGORIAS
///////////////////////////////////*/
.container, figure{
    width:30%;
    height: 250px;
    margin-bottom:2em; ;
}  
.card{
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
}
figure{
    color: #fff;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    cursor: pointer;
    transition: 0.6s;
}
figure.front{
    width: 100%;
    transform: rotateY(0deg);
    z-index: 2;
}
figure img{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    opacity: 0.9;
}
  
figure .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    padding: 2em;
    backface-visibility: hidden;
}
  
.front .caption:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    content: '';
    opacity: 0;
    transform: translate3d(0,50%,0);
}
  
.front:hover .caption:before{
    opacity: 1;
    transform: translate3d(0,0,0);
}
  
.front a{
    font-weight: 300;
    font-size: 1.6em;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: white;
    transition: transform 0.35s, color 0.35s;
    transform: translate3d(0,-50%,0);
    font-weight: bold;
    text-decoration: none;
    padding: 0 1em;
}
.front a:after{
    position: absolute;
    bottom: -10px;
    left: 50px;
    right: 70px;
    height: 2px;
    background: #fff;
    content: '';
    transition: transform 0.35s;
    transform: translate3d(-130%,0,0);
}
  
.front:hover a {
    color: #fff;
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
  
.front:hover a:after {
    transform: translate3d(0,0,0);
}
  
.front p {
    letter-spacing: 1px;
    font-size: 68.5%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    transform: translate3d(0,10px,0);
    transition: opacity 0.35s, transform 0.35s;
}
  
.front:hover p {
    opacity: 1;
    transform: translate3d(0,0,0);
}
@media (min-width:768px) and (max-width: 991px){
    .container{
        width:48%;
    } 
}
@media (max-width:767px) {
    .container{
        width:100%;
    } 
}
@media (max-width:767px) and (orientation: landscape){
    .container{
        width:60%;
    } 
}
/*/////////////////////////////////////////////////
/  ESTILOS DE SECCION DEL SELECT DE MAS CATEGORIAS
//////////////////////////////////////////////////*/
#sct-one{
    width: 100%;
}
#custom-select {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
#custom-select h1{
    margin-right: 10px;
    font-size: 1.6em;
    font-weight: 100;
}
#categories-select{ 
    display: flex;
    align-items: center;
    border: none;
    background-color: #FFA400;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
    width: auto;
    padding: .3rem .5rem;
    text-decoration: none;
    outline: none;
}
#custom-select img{
    width: 25px;
}


/*/////////////////////////////////
/  ESTILOS DEL MENÚ-CATEGORIAS
/////////////////////////////////*/
#menu-content-categories{
    width: auto;
    position: absolute;
    right: 0;
    top: 44px;
    padding: 1em;
    background-color: #FFA400;
    display: none;
}
#menu-content-categories ul{
    list-style: none;
}
#menu-content-categories .menu-categories-item{
    margin-bottom: 10px;
    font-size: 1.1em;
}
#menu-content-categories .menu-link-categories{
    text-decoration: none;
    color: black;
}
.menu-link-categories:hover{
    text-shadow: 0 4px 15px grey;
}
#menu-content-categories img{
    width: 30px;
    
}

/*/////////////////////////////////////////////////////////
/  ESTILOS DE SECCION DOS GALERIA DE TRABAJOS DE ARTISTAS
/////////////////////////////////////////////////////////*/
.gallery-photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center; 
}
.info-work-arts .autor,.info-work-arts .formato,.info-work-arts .description{
    display: none;
}
.info-work-arts .title-work{
    font-size: 1.8rem;
}

.info-work-arts .precio,.info-work-arts .tecnica span{
    font-size: 1.4rem;
}
.info-work-arts .precio span{
    font-size: 1.1rem;
}
.images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.images .info-work-arts{
    width: 33.3%;
    padding: 1em;
    margin-bottom: 2rem;

}
.info-work-arts .myBtn{
    padding: 8px;
    font-size: 20px;
    margin-top: 1rem;;
    border: none;
    background-color: #FFA400;
    font-family: 'Bree Serif', serif;
    transition: .3s;
}
.info-work-arts .myBtn:hover{
    background: rgb(129, 87, 8);
    color: white;
}
.info-work-arts img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 7%;
}


/*/////////////////////
/  ESTILOS DEL MODAL
/////////////////////*/

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
    background-color: rgba(24, 22, 22, 0.938); 
}
/* Modal Content */
.modal-content {
    background-color: black;
    margin: auto;
    padding: 20px;
    color: white;
    width: 90%;
    display: flex;
    box-shadow: 0 0 10px 4px rgb(54, 53, 53);
    

}
.modal-content .modal-body{
    width: 45%;
    text-align: left;
}
.modal-content .modal-body h1{
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 300;
    color: #FFA400
}
.modal-content .modal-body span{
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: wheat;
}
.modal-content .modal-body-img{
    width: 55%;
    padding: 1em;
}
.modal-content .modal-body-img img{
    width: 100%;
}

.modal-header{
    padding-right: 2em;
    
}
.close {
    color: #aaaaaa;
    text-align: end;
    font-size: 3.2em;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width:768px) and (max-width: 991px){
    .images .info-work-arts{
        width: 50%;
    }
    .modal-header{
        margin-top: 7rem;
    }
    .modal-content{
        flex-direction: column;
        align-items: center
    }
    .modal-content .modal-body{
        width: 90%;
        padding: 0 1rem;
    }
    .modal-content .modal-body-img{
        width: 80%;
        margin-top: 1rem;
    }
    
}
@media (min-width:768px) and (orientation:landscape){
    .modal-header{
        margin-top: 2rem;
    }
}
    
@media (max-width:767px){
    .images .info-work-arts{
        width: 100%;
    }
    .modal-content{
        flex-direction: column;
        align-items: center
    }
    .modal-content .modal-body,
    .modal-content .modal-body-img{
        width: 100%;
        padding: 0 0;
    }
    .modal-content .modal-body h1{
        font-size: 1.4rem;
    }
    .modal-content .modal-body span{
        font-size: 1.3rem;
    }
    #row-header{
        margin: 8.5px 0;
    }
    
    #categories-select h1{
        font-size: 1.6em;
    }

}

@media (max-width: 767px) and (orientation: landscape){
    .images .info-work-arts{
        width: 50%;
    }
}

@media (min-width:1400px){
    .container, figure {
        height: 380px;
    }
    .info-work-arts img {
        height: 380px;
    }
    .modal-content .modal-body h1{
        font-size: 3rem;
    }
    .modal-content .modal-body span{
        font-size: 3rem;
    }
}
