*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url(../img/evento.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    
}main div{
    width: 70%;
    position: relative;
    left: 0;
    right: 0;
    top: 125px;
    margin: auto;
    padding: 1.7rem 2rem 0;
    background-color: black; 
    opacity: 0.8;
    text-align: center;
    color: white;
}
main p{
    font-size: 1.8em;
    margin-bottom: 30px;
}
input{
    margin-bottom: 20px;
    height: 40px;
    font-size: 18px;
}
#name, #phone{
    width: 40%;
}
textarea{
    margin-bottom: 10px;
    font-size: 18px;
}
textarea, #email{
    width: 80%;
}
#submit{
    width: 30%;
    height: 50px;
    font-size: 1em;
    border: none;
    font-family: 'Roboto', sans-serif;
}
#submit:hover{
    width: 30%;
    background-color: gray;
    font-weight: 500;
}
@media (min-width:768px) and (max-width: 991px){
    main div{
        width: 90%;
        margin-top: 5em;
        padding: 1em;
    }
    main div p{
        font-size: 1.7em;
        padding: 0;
    }
    #submit{
        width: 40%;
        height: 50px;
    }
    input,textarea{
        margin-bottom: 1em;
    }
}
@media (min-width: 768px) and (orientation: landscape){
	main div{
        margin-top: 5em;
    }
}
@media (max-width:767px){
    main div{
        width: 90%;
        margin-top: 2em;
        padding: 1em;
    }
    main div p{
        font-size: 1.1em;
        margin-bottom: 15px;
        padding: 0;
    }
    #name, #phone,textarea, #email{
        width: 90%;
        font-size: 15px;
    }
    #submit{
        width: 50%;
    }
    input{
        margin-bottom: 10px;
        height: 35px;
    }
}
@media (max-width: 767px) and (orientation: landscape){
	main div{
        margin-top: 100px;
        display: flex;
        align-items: center;
        font-size: 1.2em;
        padding: .5em;
    }
    input{
       height: 30px;
        margin-bottom: 5px;
    }
    #name, #phone{
        width: 40%;
    }
    textarea{
        height: 80px;
        margin-bottom: 0px;
    }
    textarea, #email{
        width: 80%;
    }
    #submit{
        height: 40px;
    }
}

@media (min-width:1400px){
    main p {
        font-size: 3rem;
        margin-bottom: 5rem;
    }
    input {
        height: 60px;
        margin-bottom: 3rem
    }
    textarea {
        margin-bottom: 3rem;
    }
    #submit {
        height: 70px;
        font-size: 3rem;
        margin-bottom: 2rem
    }
}