*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
/*/////////////////////
/  ESTILOS DEL SCROLL
/////////////////////*/
::-webkit-scrollbar {
    width: .6rem;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(53, 51, 51); 
}

/*/////////////////////
/  ESTILOS DEL HEADER
/////////////////////*/

#header{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: #F4EDCA;
    padding: 0.5em 2em;
    font-family: 'Bree Serif', serif;
}
#header #row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#img-logo{
    width: 90px;
}
.title-header{
    font-size: 3rem;
}
/*////////////////////////////
/  ESTILOS DEL HEADER-INDEX
////////////////////////////*/
#header-index{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-right: 1.5em;
    z-index: 1000;
    background-color: transparent;
    transition: all .3s ease-in;
}
#header-index #row-header-index{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
#img-logo-index{
    width: 155px;
    height: auto;
    transition: 3s;
    padding: 1rem 0 0.5rem 1.5rem;
}

#nav-icon{
    font-size: 3rem;
    z-index: 100;
    width: 40px;
    text-align: center;
}
#nav-icon .fa-bars{
    color: black;
}
#nav-icon .fa-times{
    color: white;
}
#nav-icon .fa-times:hover{
    color: rgb(145, 142, 142);
}

/*/////////////////////
/  ESTILOS DEL MENÚ
/////////////////////*/
.menu-grande{
    width: 38%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #232020;
    transition: all .6s ease-in-out;
    transform: translateX(100%);
    font-family: 'Bree Serif', serif;
    
}
header nav.open{
	transform: translateX(0);
} 

.menu-grande .menu-link{
    font-size: 2.2em;
    text-decoration: none;
    color: white;
    margin: 20px;
    
}
.menu-grande .img-menu{
    width: 50px;
}
.menu-grande .menu{
    list-style: none;
    position: relative;
    padding-top: 31%;
}
.menu-grande .menu .menu-item{
    line-height: 1.5;
    padding-left: 3rem;
    border-bottom: 2px solid black;
    border-top: 2px solid rgb(87, 87, 85);
    display: flex;
    align-items: center;
}
.menu-grande .menu-item:hover{
    text-shadow: 0 0 8px grey;
}


/*//////////////////////
/  ESTILOS DEL FOOTER
/////////////////////*/
footer{
    width: 100%;
    background-color: #F4EDCA;
    padding: 8em 4em 1em;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    z-index: 1000;
    background-image: url(../img/onda-convert.png);
    background-repeat: no-repeat;
    background-position: 0% -1%;
}
footer a{
    text-decoration: none;
    color: black;
}
footer #info-contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    opacity: .6;
    border-bottom: 1px solid rgb(119, 118, 114);
    
}
footer #info-contact h3{
    font-size: 1em;
}
footer #info-contact img{
    width: 30px;
    margin: 1.8em .5em 0;
}
footer #info-contact div{
    width: 33.3%;
    margin-bottom: 3em;
}
.d-inline{
    display: inline;
}
#img-np{
    margin-top: 2em !important;
    margin-bottom: 0 !important;
}

#contact-us img{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 1em !important;
}
footer p{
    font-size: .7em;
    opacity: .6;
    padding-top: 1.5em;
}

/*////////////////////////////////////////
/  ESTILOS DE LA PRIMERA SECCION - INDEX
////////////////////////////////////////*/
#main-index{
    font-family: 'Bree Serif', serif;
}
#sct-one-index{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}
.sct-principal-index{
    width: 50%;
    height: 100%;
}
.sct-principal-index.sct-left-index{
    overflow: hidden;
    background-color: #fd0707;
    padding: 0 1em;
    font-size: 1.7em;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sct-left-index .content-left{
    position: absolute;
    bottom: 0;
    top: 55%;
    left: 0;
    text-align: center;
    display: flex;
    z-index: 100; 
    width: 300%;      
}
.content-left div{
    position: relative;
    width: 100%;
    padding: 2rem;
}
.content-left div:nth-child(1){
    animation: sliderText1 10s infinite alternate;
}
.content-left div:nth-child(2){
    animation: sliderText1 10s infinite alternate ;
}
.content-left div:nth-child(3){
    animation: sliderText1 10s infinite alternate;
}

.sct-principal-index.sct-left-index a{   
    position: absolute;
    bottom: 0;
    font-size: 2.1em;
    color: white;       
}
.sct-left-index .fa-angle-left,.fa-angle-right{
    padding: 0 .2em;
}
.sct-right-index{
    position: relative;
}   
.sct-right-index .div-images{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}
.sct-right-index .div-images .images-slider{
    width: 100%;
    height: 100%;
    position: absolute;   
    object-fit: cover;
}
.img-one-slider{
    animation: slider 20s linear 14s infinite;
}
.img-two-slider{
    animation: slider 20s linear 6s infinite;
}
.img-three-slider{
    animation: slider 20s linear 0s infinite;
}
@keyframes slider{
    0% {opacity: 1;}
    20% {opacity: 1;}
    30% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 1;}
}

/*//////////////////////////////////////
/  ESTILOS DE LA SEGUNDA SECCION- INDEX
///////////////////////////////////////*/

.section-index.sct-two{
    padding: 5em 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    background-color: #F4EDCA;
    background-image:  linear-gradient(rgba(240, 231, 108, 0.8), rgba(245, 66, 11, 0.8)), url(../img/paral.jpeg);
}
.section-index.sct-two p{
    font-size: 1.6rem;
    line-height: 2;
}
/*///////////////////////////////////////
/  ESTILOS DE LA TERCERA SECCION -INDEX
/////////////////////////////////////////*/
.sct-three{
    padding-top: 6rem;
}
.sct-three .title-index{
    border-bottom: 2px solid grey;
}
.sct-three .title-index h1{
    font-size: 3.9em;
    text-align: center;
    margin-bottom: .3em;
}
#row-photos-index{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center
}
.card-index {
    position: relative;
    top: 50%;
    width: 31%;
    background: #000;
    margin: 2rem 0 3rem 0;
    box-shadow: 0 0 10px 2px black;
}
.card-index .image-index {
    width: 100%;
    height: 360px;
    overflow: hidden;
}
.card-index .image-index img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    
}
.card-index:hover .image-index img {
    opacity: .5;
    transform: translateX(30%);
}
.card-index .details-index {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: black;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card-index:hover .details-index {
    transform: perspective(2000px) rotateY(0deg);
}
.card-index .details-index a{
    text-decoration: none;
    color: white
}
.details-index a h1{
    width:20px;
    word-wrap: break-word;
    text-align:center;
    left: 0;
    top: 0;
    margin: auto;
    font-size: 30px;
}
.detail-grabado a h1, .detail-pinture a h1{
    padding-top: 2rem;
}
.detail-photo a h1{
    font-size: 26px;
}
.detail-art a{
    display: flex;
}
.detail-art a h1{
    font-size: 29px;
    padding:0 1.2rem ;
    line-height: 1;
}
.detail-art div:nth-child(1){
    margin-left: 2rem ;
}
.detail-art div:last-child{
    padding-top:2rem ;
}
@media (min-width:768px) and (max-width: 991px){
    #info-contact{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    footer #info-contact div{
        width: 40%;
    }
    footer #info-contact div:nth-child(3){
        width: 100%;
    }
    .sct-principal-index{
        width: 100%;
        background-color:  #fd0707;
    }
    .sct-right-index{
        position: absolute;
    }
    .img-two-slider,.img-three-slider{
        display: none;
    }
    .sct-right-index .div-images .images-slider:nth-child(1){
        width: 95%;
        height: 85%;
        object-fit: contain;  
        animation: slider2 5s linear infinite;
    }
    .sct-left-index .content-left{
        top: 68%;   
    }
    .card-index {
        width: 45%;
    }
    .menu-grande{
        width: 52%;
    }
    .menu-grande .menu-link{
        font-size: 2.4em;
    }
    .menu-grande .menu{
        list-style: none;
        position: relative;
        padding-top: 38%;
    }
    .menu-grande .menu .menu-item{
        line-height: 1.5;
        padding-left: 3rem;
        border-bottom: 2px solid black;
        border-top: 2px solid rgb(87, 87, 85);
        display: flex;
        align-items: center;
    }
    .menu-grande .menu-item:hover{
        text-shadow: 0 0 8px grey;
    }
    .sct-principal-index.sct-left-index {
        font-size: 2rem;
    }
   
}
@media (max-width:767px){
    #header{
    padding: 0.5em 1em;
    }
    #img-logo-index{
        width: 100px;
    }
    #img-logo{
        width: 80px;
    }
    .title-header{
        font-size: 1.5rem;
        text-align: center;
        max-width: 100px;
    }
    #nav-icon .fa-times{
        font-size: 2.3rem;
        right: 6%;
        top: 4%;
    }
    
    .menu-grande{
        width: 100%;
    }
    .menu-grande .menu-link{
        font-size: 1.8em;
    }   
    .menu-grande .menu{
        padding-top: 38%;
    }

    
    footer{
        padding: 8em 4em 1em;
    }
    
    footer #info-contact{
        justify-content: space-around;
        flex-direction: column;
    }
    footer #info-contact div{
        width: 100%;
    }
    #main-index{
        width: 100%;
    }
    .sct-principal-index{
        width: 100%;
    }
    .sct-principal-index.sct-left-index a{
        font-size: 1.8em;      
    }
    .sct-right-index .div-images{
        width: 90%;
        height: 45%;
        position: relative;
        left: 0;
        right: 0;
        top: 30%;        
        margin: auto;
    }
    .sct-right-index .div-images .images-slider{
        width: 100%;        
    }
    .sct-right-index{
        position: absolute;
    }
    .sct-right-index .div-images .images-slider:nth-child(1){
        width: 100%;
        height: 100%;
        bottom: 0;;
        object-fit: contain;  
        animation: slider2 5s linear infinite;
    }
    .sct-right-index .div-images:nth-child(2){
        display: none;
    }
    .sct-right-index .div-images:nth-child(3){
        display: none;
    }
    .sct-principal-index.sct-left-index{
        padding: 0; 
    }
    .sct-left-index .content-left{
        top: 70%;
        font-size: 0.8em;          
    }
    .content-left div {
        position: relative;
        width: 100%;
        padding: 1rem;
    }
    .section-index.sct-two{
        padding: 5em .5em;
    }
    .section-index.sct-two p{
        font-size: 1.4rem;
    }
    .sct-three .title h1{
        font-size: 3em;
    }
    .photo-gallery-content{
        width: 100%;
        padding: 0;
        padding-top: 2em;
    }
    .photo-gallery-content img{
        width: 100%;

    }
    .card-index {
        width: 80%;
    }
    .sct-left-index .fa-angle-left,.fa-angle-right{
        display: none;
    }
}
@media (max-width:767px) and (orientation: landscape){
    footer{
        padding: 7em 0 1em;
    }
    footer #info-contact{
        justify-content: space-around;
        flex-direction: row;
    }
    footer #info-contact div{
        width: 50%;
    }
    .sct-right-index .div-images{
        width: 90%;
        height: 60%;
        top: 20%;        
        margin: auto;
    }
    .photo-gallery-content{
        width: 50%;
        padding: 1em;
    }
    .sct-left-index .content-left{
        top: 65%;
        font-size: 0.7em;          
    }
}

@media (min-width:1400px){
    footer{
        background-size: 100%;
        padding: 11rem 4rem 1rem;
    }
    footer #info-contact h3{
        font-size: 1.5em;
    }
    footer #info-contact img {
        width: 50px;
    }
    #contact-us button {
        width: 10rem;
    }
    footer p{
        font-size: 1.4rem;
        opacity: .8;
    }
    .section-index.sct-two p {
        font-size: 1.9rem;
    }
    .sct-left-index .content-left h1{
        font-size: 5rem
    }
    .sct-principal-index.sct-left-index a {
        font-size: 4.5rem;
    }
}





@keyframes slider2{
    0% {
        opacity: 1;
        left: 0;
    }
    25% {
        opacity: .8;
        left:10px ;
    }
    50% {
        opacity: .5;
        left: 20px
    }
    75% {
        opacity: .8;
        left: 10px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
@keyframes sliderText1{
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    40% {
        left: -33%;
    }
    60% {
        left: -33%;
    }
    80% {
        left: -66%;
    }
    100% {
        left: -66%;
    }
}

