*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*////////////////////////////////////
/  ESTILOS DEL MAIN QUIENES SOMOS
/  ESTILOS DE LA PRIMERA SECCION
////////////////////////////////////*/

#main-content-qs{
    height: auto;
    margin-top: 130px;
    padding-left: 1em;
    padding-right: 1em;
    
}
#main-content-qs p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#main-content-qs h1{
    padding-top: 1.5rem;
}
#main-content-qs h1,h2{
    font-family: 'Bree Serif', serif;
    font-size: 2.5em;
}

#sct-one-qs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    margin: 2px;
    
}
#sct-one-qs #content-img-qs{
    margin: 2px;
}
#sct-one-qs div{
    width: 50%;
    font-size: 1.4em;
}

#content-img-qs img{
    width: 100%;
    padding: 1em;;
    object-fit: cover;
}


/*////////////////////////////////
/  ESTILOS DE LA SEGUNDA SECCION
////////////////////////////////*/

#sct-two-qs{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  
  .cols{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .col{
    width: calc(45% - 2rem);
    margin: 1rem;
    cursor: pointer;    
  }
  
  .container{
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  
  .front,
  .back{
    background-size: cover;
    background-position: center;
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1rem;
    background-image: linear-gradient(to top, #dba763 0%, #e7c089 100%);
  }
  
  .back{
    background-image: linear-gradient(to top, #dd9c48 0%, #e7c089 100%);
  }
  
  .front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back{
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .inner{
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
  }
  .container .back{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  
  .container .front{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }
  
  .container:hover .back{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }
  
  .container:hover .front{
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
  }
  
  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }
  
  @media screen and (max-width: 64rem){
    .col{
      width: calc(50% - 2rem);
    }
    .back .inner p{
        font-size: 0.9rem;
   
    }
  }
  
  @media screen and (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
      
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
        width: 100%;
        margin: 0 0 2rem 0;
      
    }
    .front .inner p{
        font-size: 2.5rem;
    }
    .front .inner span{
        font-size: 1.2rem;
    }
  
  }
  
/*////////////////////////////////
/  ESTILOS DE LA TERCERA SECCION
////////////////////////////////*/
#sct-three-qs{
    position: relative;
}
#content-img-title{
    width: 100%;
    height: 25px;
    background-image: url(../img/backg.jpeg)
    
}
#content-img-title img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7;
}
#sct-three-qs #title{
    text-align: center;
    font-size: 3em;
    width: 16%;
    position: absolute;
    left: 0;
    right: 0;
    top: 12px;
    margin: auto;
    padding: 5px;
    background: linear-gradient(45deg, #43291f 0%, rgba(255,164,0,1) 50%, #43291f 100%);
}
#content-staff{
    margin-top: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#content-staff div{
    width: 33.3%;
    padding: 2em;
    text-align: center;
    font-size: 0.9em;
}
#content-staff h2{
    font-size: 1.2em;
}
#content-staff img{
    border-radius: 100%;
    width: 100%;
    height: 300px;
    justify-content: center;
    object-fit: cover;


    
}
@media (min-width:768px) and (max-width: 991px){
    #sct-one-qs{
        justify-content: center;
        flex-wrap: wrap;
        
    }
    #sct-one-qs div{
        width: 100%;
        font-size: 1.4em;
    }
    #sct-one-qs #content-img-qs img{
        width: 100%;
        object-fit: cover;
    }
    #sct-one-qs #content-description-qs{
        margin: 3rem 2rem;
    }

    #content-img-title{
        width: 100%;
        /* height: 25px; */
    }
    #sct-two-qs div{
        align-items: center;
        font-size: 1em;
    }
    #sct-two-qs h1{
        font-size: 60px;
    }
    #mision-content h1{
        margin: 0 1em 0 0.5em;
    }
    #vision-content h1{
        margin: 0 0.5em 0 1em;
    }
    #sct-three-qs #title{
        width: 16%;
        padding: 5px;;
    }
    #content-staff{
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    #content-staff div{
        padding: 1em;
        text-align: center;
        font-size: 0.9em;
        width: 35%;
        
    }
    #content-staff img{
        border-radius: 100%;
        object-fit: cover;
    }
}

@media (max-width:767px){
    #sct-one-qs{
        width: 100%;
        display: inline-block;
    }
    #sct-one-qs div{
        width: 100%;
        font-size: 1em;
        text-align: center;
    }
    #sct-one-qs #content-img-qs{
        border: 0;
        margin: 0px;
        box-shadow: 0 0 0;
}
    #content-img-qs img{
        width: 100%;
        height: 100%;
        padding: 0;
        object-fit: cover;  
    }
    #sct-one-qs #content-description-qs{
        margin: 2rem 0;
        padding: 0 8px;
    }
    #sct-two-qs{
        position: relative;
    }
    #sct-two-qs div{
        width: 100%;
        border-radius: 25px; 
        font-size: .8em;
        flex-direction: column;
        margin: 0% 0% 6%;
        text-align: center
    }
    #sct-two-qs h1 {
        position: absolute;
        
    }
    #sct-three-qs #title{
        width: 35%;
        font-size: 2.2em;
    }
    #content-staff{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #content-staff div{
        padding: 1em;
        text-align: center;
        font-size: 0.9em;
        width: 70%;
        margin-top: 20px;
    }
    #content-staff img{
        object-fit: cover;
    }
}
@media (max-width: 767px) and (orientation: landscape){
	#sct-two-qs div{
        padding-top: 0; 
        font-size: 1.1em;
        display: flex;
        text-align: center;
    }
    #mision-content h1, #vision-content h1{
        position: relative;
        margin: 0;
    }
    #sct-one-qs div{
        font-size: 1.2em;
    }
    #sct-three-qs #title{
        width: 15%;
    }
    #content-staff{
        margin-top: 50px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #content-staff div{
        padding: 2em;
        font-size: 0.7em;
        width: 50%;
    }
    
}

@media (min-width:1400px){
    #sct-one-qs div {
        font-size: 1.6em;
    }
    #content-staff div {
        width: 29%;
    }
    #content-staff img {
        height: 350px;
    }
    #main-content-qs h1, h2 {
        font-size: 3em;
    }
}
